In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [2]:
df = pd.read_excel('MER_삼성전자.xlsx')

In [3]:
df = df.drop(columns=['Unnamed: 0'], axis=1)
df

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,EPS,PER,BPS,PBR,주당배당금,배당수익률
0,2021/08/31,76700,2100,2.82,74900,76700,74300,24630370,1864084402507,457882321585000,5969782550,3841,19.97,39406,1.95,2994,3.90
1,2021/08/30,74600,300,0.40,75400,75500,74200,12686999,945673383900,445345778230000,5969782550,3841,19.42,39406,1.89,2994,4.01
2,2021/08/27,74300,-300,-0.40,74300,75000,73800,15172748,1128028045800,443554843465000,5969782550,3841,19.34,39406,1.89,2994,4.03
3,2021/08/26,74600,-1100,-1.45,76100,76200,74600,16671494,1254628461500,445345778230000,5969782550,3841,19.42,39406,1.89,2994,4.01
4,2021/08/25,75700,100,0.13,76200,76600,74900,22319664,1688297846500,451912539035000,5969782550,3841,19.71,39406,1.92,2994,3.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459,2011/09/07,773000,46000,6.33,733000,778000,733000,351504,267743152200,113862387501000,147299337,105992,7.29,623257,1.24,10000,1.29
2460,2011/09/06,727000,-4000,-0.55,726000,736000,710000,264505,192183965661,107086617999000,147299337,105992,6.86,623257,1.17,10000,1.38
2461,2011/09/05,731000,-38000,-4.94,755000,756000,730000,277488,205971771200,107675815347000,147299337,105992,6.90,623257,1.17,10000,1.37
2462,2011/09/02,769000,-2000,-0.26,765000,781000,763000,258682,199136265000,113273190153000,147299337,105992,7.26,623257,1.23,10000,1.30
2463,2011/09/01,771000,27000,3.63,759000,788000,744000,717411,553683953102,113567788827000,147299337,105992,7.27,623257,1.24,10000,1.30

In [4]:
#배당비율 구하기위해서 전날주당배당금 추가
df['전날주당배당금'] = df['주당배당금'].shift(1)
# 액면분할 비율 구하기, if df['거래량'] == 0 이라면....
k = df[df['거래량'] == 0].iloc[0].loc['일자']
a = df[df['거래량'] == 0].iloc[0].loc['주당배당금']
b = df[df['거래량'] == 0].iloc[0].loc['전날주당배당금']
c = a/b
k

'2018/05/03'

In [5]:
#액면분할된 데이터 처리 
lst = ['종가','시가','대비','고가','저가','주당배당금','EPS','BPS']
lst2 = ['거래량','상장주식수']
for i in lst:
    df[i] = np.where(df['일자'] <= k , df[i]/c, df[i])
for j in lst2:
    df[j] = np.where(df['일자'] <= k , df[j]*c, df[j])

In [11]:
#전날주당배당금 삭제
df = df.drop(columns=['전날주당배당금'], axis=1)

KeyError: "['전날주당배당금'] not found in axis"

In [12]:
df

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,EPS,PER,BPS,PBR,주당배당금,배당수익률,atr
0,2021/08/31,76700.0,2100.0,2.82,74900.0,76700.0,74300.0,24630370.0,1864084402507,457882321585000,5.969783e+09,3841.00,19.97,39406.00,1.95,2994.0,3.90,2400.0
1,2021/08/30,74600.0,300.0,0.40,75400.0,75500.0,74200.0,12686999.0,945673383900,445345778230000,5.969783e+09,3841.00,19.42,39406.00,1.89,2994.0,4.01,1300.0
2,2021/08/27,74300.0,-300.0,-0.40,74300.0,75000.0,73800.0,15172748.0,1128028045800,443554843465000,5.969783e+09,3841.00,19.34,39406.00,1.89,2994.0,4.03,1200.0
3,2021/08/26,74600.0,-1100.0,-1.45,76100.0,76200.0,74600.0,16671494.0,1254628461500,445345778230000,5.969783e+09,3841.00,19.42,39406.00,1.89,2994.0,4.01,1600.0
4,2021/08/25,75700.0,100.0,0.13,76200.0,76600.0,74900.0,22319664.0,1688297846500,451912539035000,5.969783e+09,3841.00,19.71,39406.00,1.92,2994.0,3.96,1700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459,2011/09/07,15460.0,920.0,6.33,14660.0,15560.0,14660.0,17575200.0,267743152200,113862387501000,7.364967e+09,2119.84,7.29,12465.14,1.24,200.0,1.29,1020.0
2460,2011/09/06,14540.0,-80.0,-0.55,14520.0,14720.0,14200.0,13225250.0,192183965661,107086617999000,7.364967e+09,2119.84,6.86,12465.14,1.17,200.0,1.38,520.0
2461,2011/09/05,14620.0,-760.0,-4.94,15100.0,15120.0,14600.0,13874400.0,205971771200,107675815347000,7.364967e+09,2119.84,6.90,12465.14,1.17,200.0,1.37,780.0
2462,2011/09/02,15380.0,-40.0,-0.26,15300.0,15620.0,15260.0,12934100.0,199136265000,113273190153000,7.364967e+09,2119.84,7.26,12465.14,1.23,200.0,1.30,360.0
2463,2011/09/01,15420.0,540.0,3.63,15180.0,15760.0,14880.0,35870550.0,553683953102,113567788827000,7.364967e+09,2119.84,7.27,12465.14,1.24,200.0,1.30,360.0

In [7]:
# atr데이터 처리
df_atr = df.iloc[:,[0,1,5,6]]
df_atr

              일자       종가       고가       저가
0     2021/08/31  76700.0  76700.0  74300.0
1     2021/08/30  74600.0  75500.0  74200.0
2     2021/08/27  74300.0  75000.0  73800.0
3     2021/08/26  74600.0  76200.0  74600.0
4     2021/08/25  75700.0  76600.0  74900.0
...          ...      ...      ...      ...
2459  2011/09/07  15460.0  15560.0  14660.0
2460  2011/09/06  14540.0  14720.0  14200.0
2461  2011/09/05  14620.0  15120.0  14600.0
2462  2011/09/02  15380.0  15620.0  15260.0
2463  2011/09/01  15420.0  15760.0  14880.0

[2464 rows x 4 columns]

In [8]:
# atr데이터 처리
lst = []
atr = []
for i in range(0,len(df_atr)-1):
    a = df_atr.iloc[i,2] - df_atr.iloc[i,3]
    b = df_atr.iloc[i,2] - df_atr.iloc[i+1,1]
    c = df_atr.iloc[i,3] - df_atr.iloc[i+1,1]
    lst = [abs(a),abs(b),abs(c)]
    atr.append(max(lst))

# 2011/09/01 전날의 가격데이터가 없어, (금일의 고가 - 금일의 저가)를 적용
atr.append(df_atr.iloc[i,2] - df_atr.iloc[i,3])

In [9]:
df['atr'] = atr
df

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,EPS,PER,BPS,PBR,주당배당금,배당수익률,atr
0,2021/08/31,76700.0,2100.0,2.82,74900.0,76700.0,74300.0,24630370.0,1864084402507,457882321585000,5.969783e+09,3841.00,19.97,39406.00,1.95,2994.0,3.90,2400.0
1,2021/08/30,74600.0,300.0,0.40,75400.0,75500.0,74200.0,12686999.0,945673383900,445345778230000,5.969783e+09,3841.00,19.42,39406.00,1.89,2994.0,4.01,1300.0
2,2021/08/27,74300.0,-300.0,-0.40,74300.0,75000.0,73800.0,15172748.0,1128028045800,443554843465000,5.969783e+09,3841.00,19.34,39406.00,1.89,2994.0,4.03,1200.0
3,2021/08/26,74600.0,-1100.0,-1.45,76100.0,76200.0,74600.0,16671494.0,1254628461500,445345778230000,5.969783e+09,3841.00,19.42,39406.00,1.89,2994.0,4.01,1600.0
4,2021/08/25,75700.0,100.0,0.13,76200.0,76600.0,74900.0,22319664.0,1688297846500,451912539035000,5.969783e+09,3841.00,19.71,39406.00,1.92,2994.0,3.96,1700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459,2011/09/07,15460.0,920.0,6.33,14660.0,15560.0,14660.0,17575200.0,267743152200,113862387501000,7.364967e+09,2119.84,7.29,12465.14,1.24,200.0,1.29,1020.0
2460,2011/09/06,14540.0,-80.0,-0.55,14520.0,14720.0,14200.0,13225250.0,192183965661,107086617999000,7.364967e+09,2119.84,6.86,12465.14,1.17,200.0,1.38,520.0
2461,2011/09/05,14620.0,-760.0,-4.94,15100.0,15120.0,14600.0,13874400.0,205971771200,107675815347000,7.364967e+09,2119.84,6.90,12465.14,1.17,200.0,1.37,780.0
2462,2011/09/02,15380.0,-40.0,-0.26,15300.0,15620.0,15260.0,12934100.0,199136265000,113273190153000,7.364967e+09,2119.84,7.26,12465.14,1.23,200.0,1.30,360.0
2463,2011/09/01,15420.0,540.0,3.63,15180.0,15760.0,14880.0,35870550.0,553683953102,113567788827000,7.364967e+09,2119.84,7.27,12465.14,1.24,200.0,1.30,360.0

In [10]:
df.to_excel('액면분할test2.xlsx')