In [1]:
!pip install pykrx

Requirement already satisfied: pykrx in c:\users\user\anaconda3\lib\site-packages (1.0.19)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from pykrx) (1.2.4)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from pykrx) (2.25.1)
Requirement already satisfied: deprecated in c:\users\user\anaconda3\lib\site-packages (from pykrx) (1.2.13)
Requirement already satisfied: xlrd in c:\users\user\anaconda3\lib\site-packages (from pykrx) (2.0.1)
Requirement already satisfied: datetime in c:\users\user\anaconda3\lib\site-packages (from pykrx) (4.3)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from pykrx) (1.19.5)
Requirement already satisfied: pytz in c:\users\user\anaconda3\lib\site-packages (from datetime->pykrx) (2021.1)
Requirement already satisfied: zope.interface in c:\users\user\anaconda3\lib\site-packages (from datetime->pykrx) (5.3.0)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\user\anaconda3\lib\site-packages (from deprecated->pykrx) (1.12.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas->pykrx) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->pykrx) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->pykrx) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->pykrx) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->pykrx) (1.26.4)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from zope.interface->datetime->pykrx) (52.0.0.post20210125)

In [2]:
from pykrx import stock

In [3]:
# KOSPI 
stock_code = stock.get_market_ticker_list(market="KOSPI")
(stock_code[:6], len(stock_code))

# 937개의 종목 있음

(['095570', '006840', '027410', '282330', '138930', '001460'], 938)

In [4]:
# 종목명 반환
stock_name = stock.get_market_ticker_name("005930")
stock_name

'삼성전자'

In [5]:
from datetime import date, timedelta

today = date.today().strftime('%Y%m%d')
yesterday = (date.today() - timedelta(1)).strftime('%Y%m%d')

# 거래량

In [6]:
# 개별종목 시세 추이

df_volume = stock.get_market_ohlcv_by_date(fromdate=yesterday, todate=today, ticker="005930")
df_volume

               시가     고가     저가     종가       거래량
날짜
2021-09-17  76300  77200  75900  77200  15656562

In [7]:
#df_volume.columns
df_volume = df_volume[['거래량']]
df_volume

                 거래량
날짜
2021-09-17  15656562

# PER, PBR

In [8]:
# PER, PBR

df_per = stock.get_market_fundamental_by_date(today, today, "005930")
df_per

              BPS   PER   PBR   EPS   DIV   DPS
날짜
2021-09-17  39406  20.1  1.96  3841  3.88  2994

In [9]:
df_per = df_per[['PER', 'PBR']]
df_per

             PER   PBR
날짜
2021-09-17  20.1  1.96

# 거래실적

In [15]:
# 투자자별 거래실적

df_value = stock.get_market_trading_value_by_date(today, today, "005930")
df_value

                    기관합계       기타법인            개인         외국인합계  전체
날짜
2021-09-17 -145321637800  850210300 -109867110700  254338538200   0

In [16]:
df_value = df_value.drop(['전체'], axis = 1)

# 합치기

In [17]:
import pandas as pd

df = pd.concat([df_volume, df_per, df_value],axis=1)
df

,거래량,PER,PBR,기관합계,기타법인,개인,외국인합계
날짜,,,,,,,
2021-09-17,15656562,20.1,1.96,-145321637800,850210300,-109867110700,254338538200

# 함수화

In [20]:
# !pip install pykrx
from pykrx import stock
import pandas as pd
from datetime import date, timedelta

class KRX:
    def getDate(self):
        self.end = date.today().strftime('%Y%m%d')  # 오늘
        self.start = (date.today() - timedelta(1)).strftime('%Y%m%d')  # 어제

    def getStock(self, code):
        self.volume = stock.get_market_ohlcv_by_date(self.start, self.end, code)
        self.volume = self.volume[['거래량']]

        self.per = stock.get_market_fundamental_by_date(self.end, self.end, code)
        self.per = self.per[['PER', 'PBR']]

        self.value = stock.get_market_trading_value_by_date(self.end, self.end, code)
        self.value = self.value.drop(['전체'], axis=1)

   
    def saving(self, code):
        self.df = pd.concat([self.volume, self.per, self.value], axis=1)
        self.stockname = stock.get_market_ticker_name(code)
        self.df.to_excel("./data/KRW" + self.stockname +".xlsx", index=False)
        print(self.df)
        
if __name__ == "__main__":
    code = "005930" # 종목코드 
    krx = KRX()
    krx.getDate()
    krx.getStock(code)
    krx.saving(code)

                 거래량   PER   PBR          기관합계       기타법인            개인  \
날짜
2021-09-17  15656562  20.1  1.96 -145321637800  850210300 -109867110700

                   외국인합계
날짜
2021-09-17  254338538200

In [ ]:
# def getVolume(self, code):
#     self.volume = stock.get_market_ohlcv_by_date(self.yesterday, self.today, code)
#     self.volume = self.volume[['거래량']]
    
# def getPER(self, code):
#     self.per = stock.get_market_fundamental_by_date(self.today, self.today, code)
#     self.per = self.per[['PER', 'PBR']]
        
# def getValue(self, code):        
#     self.value = stock.get_market_trading_value_by_date(self.today, self.today, code)
#     self.value.drop(['전체'], axis = 1)