ATR	NASDAQ	S&P	CBOE	Exchange rate	futures2y	futures10y	y

In [1]:
import FinanceDataReader as fdr

In [2]:
from datetime import date, timedelta

today = date.today().strftime('%Y%m%d')
yesterday = (date.today()-timedelta(1)).strftime('%Y%m%d')

In [3]:
yesterday

'20210928'

In [4]:
(date.today()-timedelta(1)).strftime('%Y-%m-%d')

'2021-09-28'

In [5]:
nasdaq = fdr.DataReader('NASDAQCOM', start='2021-09-21', data_source='fred')
nasdaq

            NASDAQCOM
DATE
2021-09-21   14746.40
2021-09-22   14896.85
2021-09-23   15052.24
2021-09-24   15047.70
2021-09-27   14969.97

In [6]:
sp500 = fdr.DataReader('US500', yesterday, today)
sp500

              Close     Open     High      Low  Volume  Change
Date
2021-09-28  4352.63  4419.54  4419.54  4346.33     0.0 -0.0204

In [7]:
sp500 = sp500[['Close']].rename(columns={'Close':'S&P'})
sp500

                S&P
Date
2021-09-28  4352.63

In [8]:
cboe = fdr.DataReader('VIX', yesterday, today) # S&P 500 VIX
cboe.head()

            Close   Open   High    Low  Volume  Change
Date
2021-09-28  23.25  18.76  24.82  18.76     0.0  0.2393
2021-09-29  23.25  23.25  23.25  23.25     0.0  0.0000

In [9]:
cboe = cboe[['Close']]
cboe.rename(columns={'Close':'CBOE'})

             CBOE
Date
2021-09-28  23.25
2021-09-29  23.25

In [10]:
rate = fdr.DataReader('USD/KRW', yesterday, today)
rate

              Close     Open     High      Low  Change
Date
2021-09-28  1187.16  1177.09  1188.67  1176.37  0.0078
2021-09-29  1184.75  1187.94  1188.50  1184.24 -0.0020

In [11]:
tmp = rate.reset_index()
tmp

        Date    Close     Open     High      Low  Change
0 2021-09-28  1187.16  1177.09  1188.67  1176.37  0.0078
1 2021-09-29  1184.75  1187.94  1188.50  1184.24 -0.0020

# 함수화

In [12]:
import pandas as pd
import sqlite3
import FinanceDataReader as fdr
from datetime import date, timedelta


class INVESTING:
    def getDate(self):
        self.end = date.today().strftime('%Y%m%d')  # 오늘
        self.start = (date.today() - timedelta(1)).strftime('%Y%m%d')  # 어제

    def getStock(self):
        self.sp500 = fdr.DataReader('US500', yesterday, today)
        self.sp500 = self.sp500[['Close']]

        self.cboe = fdr.DataReader('VIX', yesterday, today)
        self.cboe = self.cboe[['Close']]

        self.rate = fdr.DataReader('USD/KRW', yesterday, today)
        self.rate  = self.rate[['Close']]

    def saving(self):
        self.df = pd.concat([self.sp500, self.cboe, self.rate], axis=1)
        self.df_invest = self.df.reset_index()
        self.df_invest.columns=['date', 'sp', 'cboe', 'exchangerate']
        self.df_invest = self.df_invest.set_index('date')
        print(self.df_invest)
#         self.df.to_sql('samsung', conn, if_exists='append')
#         conn.commit()  # db에 저장



if __name__ == "__main__":
    
    invest = INVESTING()
    invest.getDate()
    invest.getStock()
    invest.saving()

                 sp   cboe  exchangerate
date
2021-09-28  4352.63  23.25       1187.16
2021-09-29      NaN  23.25       1184.83