In [ ]:
!pip install selenium

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time

In [2]:
url = 'https://m.stock.naver.com/index.html#/domestic/stock/005930/finance/ESG'
driver = webdriver.Chrome('C:\chromedriver.exe')
driver.get(url)

In [3]:
html= driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [13]:
results = soup.select('div.NonFinanceGraph_barDesc__3JwKr')
len(results)

28

In [14]:
results[0], results[1], results[27]

(<div class="NonFinanceGraph_barDesc__3JwKr">삼성전자 6.3 tCO₂</div>,
 <div class="NonFinanceGraph_barDesc__3JwKr">업종 평균 7.8 tCO₂</div>,
 <div class="NonFinanceGraph_barDesc__3JwKr">업종 평균 8.0배</div>)

In [15]:
titles = soup.select('strong.NonFinanceGraph_title__2Ngxx')
len(titles)

14

In [16]:
titles[0], titles[1], titles[13]

(<strong class="NonFinanceGraph_title__2Ngxx">온실가스 배출량</strong>,
 <strong class="NonFinanceGraph_title__2Ngxx">에너지 사용량</strong>,
 <strong class="NonFinanceGraph_title__2Ngxx">임원/직원 보수 비율</strong>)

In [17]:
tags = soup.select("li.NonFinanceGraph_item__1iY8U")
len(tags)

14

In [18]:
tags[0]

<li class="NonFinanceGraph_item__1iY8U"><div class="NonFinanceGraph_info__ge73A"><strong class="NonFinanceGraph_title__2Ngxx">온실가스 배출량</strong><div class="text"><span class="NonFinanceGraph_num__1ZcKE">6.3</span><span class="NonFinanceGraph_unit__2xFFK"> tCO₂</span></div><span class="NonFinanceGraph_textSale__1uQ8a">매출1억 기준</span></div><div class="NonFinanceGraph_infoGraph__1xyXT"><div class="graph"><div class="NonFinanceGraph_bar__2cHh9" style="width: 80.7692%;"></div><div class="NonFinanceGraph_barDesc__3JwKr">삼성전자 6.3 tCO₂</div></div><div class="graph NonFinanceGraph_graphAverage__UliK6"><div class="NonFinanceGraph_bar__2cHh9" style="width: 100%;"></div><div class="NonFinanceGraph_barDesc__3JwKr">업종 평균 7.8 tCO₂</div></div></div></li>

In [22]:
title = tags[0].select('strong.NonFinanceGraph_title__2Ngxx')
title[0].text.strip()

'온실가스 배출량'

In [23]:
value = tags[0].select('div.NonFinanceGraph_barDesc__3JwKr').text.strip()
value[0].text.strip()

'삼성전자 6.3 tCO₂'

In [29]:
value[1].text.strip()

'업종 평균 8.0배'

In [32]:
contents = []
for tag in tags:
    title = tag.select('strong.NonFinanceGraph_title__2Ngxx')
    value = tag.select('div.NonFinanceGraph_barDesc__3JwKr')
    contents.append([title[0].text.strip(), value[0].text.strip(), value[1].text.strip()])

In [33]:
df = pd.DataFrame(contents, columns=['title', 'value', 'average'])
print(df)

           title            value           average
0       온실가스 배출량    삼성전자 6.3 tCO₂    업종 평균 7.8 tCO₂
1        에너지 사용량  삼성전자 2.1469 TOE  업종 평균 7.2602 TOE
2       미세먼지 배출량    삼성전자 47.0 ton    업종 평균 14.6 ton
3        용수 재활용률       삼성전자 14.5%       업종 평균 16.1%
4       폐기물 재활용률       삼성전자 94.3%       업종 평균 71.9%
5       직원 평균 연봉    삼성전자 10,743만원     업종 평균 5,482만원
6       비정규직 고용률        삼성전자 0.6%        업종 평균 3.4%
7            기부금     삼성전자 0.1860%     업종 평균 0.0905%
8     직원 평균 근속년수       삼성전자 12.1년        업종 평균 6.1년
9        사외이사 비율       삼성전자 60.0%       업종 평균 35.2%
10      최대주주 지분율        삼성전자 8.5%       업종 평균 24.5%
11      이사회의 독립성       분리기업 11.6%        겸임기업 88.4%
12  사내등기임원 평균 보수   삼성전자 300,400만원    업종 평균 46,902만원
13   임원/직원 보수 비율       삼성전자 28.0배        업종 평균 8.0배

In [35]:
df.to_excel('C:/Develops/save/삼성전자ESG.xlsx', index= False)